<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vukhachoi.weddingmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HallsActivity" />
        <activity android:name=".NameHalllActivity" />
        <activity android:name=".activityTraCuu" />
        <activity android:name=".DetailWeddingActivity" />
        <activity android:name=".LapHoaDon" />
        <activity android:name=".LapHoaDon_ThanhToan" />
        <activity android:name=".BaoCaoThang" />
        <activity android:name=".quy_dinh_activity" />
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/title_activity_main"-->
            <!--android:theme="@style/AppTheme"></activity>-->
    </application>

</manifest>